@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto+Mono:wght@700&display=swap');

body{
    background: rgb(10, 12, 25);
    background: linear-gradient(to top, rgb(10, 12, 25), rgb(17, 17, 98, 1), rgb(16, 141, 147));
    height: 100%;
    margin: 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



#title {
    margin: 1% auto 5%;
    padding: auto;
    width: 50%;

    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;


    color: rgb(174, 179, 209);
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 2px;
}

.charity {
    margin: 1% auto 8%;
    padding: auto;
    width: 50%;
    display: block;

    height: 135px;
    width: 40%;
}

.charity-image {
    float: left;
    margin-right: 1.5%;
}

.charity-discription {
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    display: inline;
    color: rgb(174, 179, 209);
}

a:visited {
    /* here just in case */
    text-decoration: none;
    color: rgb(174, 179, 209);
}